.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    padding-bottom: 5%;
}
.body a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(0, 90, 0);
    font-family: 'Raleway', sans-serif;
}
.body a:hover {
    color: green;
}
.body h5 {
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 4%;
    margin-top: 1%;
    line-height: 150%;
    font-family: 'Raleway', sans-serif;
}
#carouselExampleCaptions {
    width: 70%;
    height: auto;
    margin-bottom: 2%;
    margin-top: 4%;
}
.carousel-caption {
    background-color: rgba(128, 128, 128, 0.685);
}
.carousel-caption p {
color: white;
font-weight: bolder;
padding-right:0%;
padding-left: 0%;
}
.carousel-caption h5 {
    color: white;
    font-weight: bolder;
    margin-bottom: 1%;
    }


    /* RESPONSIVIDAD */

    @media screen and (max-width: 800px) {
        #carouselExampleCaptions {
            width: 100%;
        }
        .body h5 {
            margin-top: 12%;
            margin-bottom: 12%;
            font-size: medium;
            margin-left: 1%;
            margin-right: 1%;
        }
    }

    @media screen and (max-width: 450px) {
        #carouselExampleCaptions {
            width: 100%;
        }
        .body {
            padding-top: 6%;
        }
        .body h5 {
            margin-bottom: 10%;
        }
    }