.footer-container {
    width: 100%;
    height: 4rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-container i {
    margin-right: 10px;
    margin-left: 10px;
    color: rgba(245, 245, 245, 0.87);
}
.footer-container i:hover {
    color: rgba(0, 128, 0, 0.829);
}
.footer-container a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: rgba(245, 245, 245, 0.87);
    letter-spacing: 1px;
}
.footer-container a:hover {
    color: rgba(0, 128, 0, 0.829);
}